*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration:none;
}
html,body{
    width: 100%;
    height:100%;
}
.content{
    width:100%;
    height:100%;
    overflow: hidden;
}
.list{
    width:100%;
}
.list h2{
    height:40px;
    background:#eee;
    padding-left:10px;
    line-height: 40px;
}

.list ol>li{
    height:40px;
    border-bottom:1px solid;
    padding-left:10px;
    line-height: 40px;
}
.nav-list{
    position:fixed;
    top:10%;
    right:10px;
    z-index: 999;
}
.nav-list li{
    height:40px;
}