*{
    padding:0;
    margin:0;
    list-style:none;
    text-decoration:none;
}
html,body{
    widows: 100%;
    height:100%;
}
.wrap{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    width:100%;
    height:40px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.content{
    flex:1;
}
.footer{
    width:100%;
    height:40px;
}
#list{
    width:100%;
    height:100%;
    display:flex;
    align-content: space-around;
}
#list li{
    width:25%;
    text-align: center;
}